# Consolidaci칩n de los datos

In [1]:
# Code from Book: Build Your Own AI Investor
# Damon Lee 2020
# Check out the performance on www.valueinvestingai.com
# Code uses data from the (presumably) nice people at https://simfin.com/. 
# Feel free to fork this code for others to see what can be done with it.

from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
import math

In [2]:
from platform import python_version
print(python_version())

3.9.7

In [4]:
'''
    Para combinar datos financieros fundamentales de  SimFin (https://simfin.com/) sin API.
    Descargar archivos de Estado de Resultados, Balance y Flujo de Caja,
    Colocarlos en un directorio y proporciar la ruta del directorio a la funci칩n.
    Supone nombres de archivo est치ndar de SimFin.
    Devuelve un DataFrame del resultado combinado.
    Imprime la informaci칩n del archivo. '''

def getXDataMerged():
    a=pd.read_csv('C:/Users/Usuario/MachineLearning/Stock_Data/SimFin/us-income-annual/us-income-annual.csv', delimiter=';')
    b=pd.read_csv('C:/Users/Usuario/MachineLearning/Stock_Data/SimFin/us-balance-annual/us-balance-annual.csv', delimiter=';')
    c=pd.read_csv('C:/Users/Usuario/MachineLearning/Stock_Data/SimFin/us-cashflow-annual/us-cashflow-annual.csv', delimiter=';')
    print('Income Statement CSV is: ', a.shape)
    print('Balance Sheet CSV is: ', b.shape)
    print('Cash Flow CSV is: ' ,c.shape)
    result = pd.merge(a, b, on=['Ticker','SimFinId','Currency','Fiscal Year','Report Date','Publish Date'])
    result = pd.merge(result, c, on=['Ticker','SimFinId','Currency','Fiscal Year','Report Date','Publish Date'])
    result["Report Date"] = pd.to_datetime(result["Report Date"])
    result["Publish Date"] = pd.to_datetime(result["Publish Date"])
    print('merged X data matrix shape is:', result.shape)
    return result

In [6]:
getXDataMerged()

Income Statement CSV is:  (23409, 28)
Balance Sheet CSV is:  (23409, 30)
Cash Flow CSV is:  (23409, 28)
merged X data matrix shape is: (23409, 74)

,Ticker,SimFinId,Currency,Fiscal Year,Fiscal Period_x,Report Date,Publish Date,Restated Date_x,Shares (Basic)_x,Shares (Diluted)_x,...,Net Cash from Operating Activities,Change in Fixed Assets & Intangibles,Net Change in Long Term Investment,Net Cash from Acquisitions & Divestitures,Net Cash from Investing Activities,Dividends Paid,Cash from (Repayment of) Debt,Cash from (Repurchase of) Equity,Net Cash from Financing Activities,Net Change in Cash
0,A,45846,USD,2008,FY,2008-10-31,2008-12-19,2010-12-20,363000000.0,371000000.0,...,756000000,-140000000.0,150000000.0,-1.720000e+08,-3.850000e+08,NaN,1.600000e+07,-790000000.0,-7.880000e+08,-421000000
1,A,45846,USD,2009,FY,2009-10-31,2009-12-21,2011-12-16,346000000.0,346000000.0,...,408000000,-127000000.0,94000000.0,4.300000e+07,-4.000000e+06,NaN,7.480000e+08,-86000000.0,6.470000e+08,1074000000
2,A,45846,USD,2010,FY,2010-10-31,2010-12-20,2012-12-20,347000000.0,353000000.0,...,718000000,-114000000.0,38000000.0,-1.108000e+09,-1.174000e+09,0.0,7.180000e+08,-112000000.0,6.010000e+08,170000000
3,A,45846,USD,2011,FY,2011-10-31,2011-12-16,2013-12-19,347000000.0,355000000.0,...,1260000000,-170000000.0,16000000.0,-9.700000e+07,1.294000e+09,0.0,-1.500000e+09,-193000000.0,-1.693000e+09,878000000
4,A,45846,USD,2012,FY,2012-10-31,2012-12-20,2014-12-22,348000000.0,353000000.0,...,1228000000,-194000000.0,5000000.0,-2.257000e+09,-2.366000e+09,-104000000.0,1.500000e+08,-72000000.0,-3.500000e+07,-1174000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23404,ZYXI,171401,USD,2016,FY,2016-12-31,2017-04-18,2018-02-28,34398357.0,34398357.0,...,1769000,NaN,NaN,NaN,-2.260000e+05,NaN,-1.304000e+06,0.0,-1.304000e+06,239000
23405,ZYXI,171401,USD,2017,FY,2017-12-31,2018-02-28,2019-02-26,35371600.0,36515600.0,...,8260000,NaN,NaN,NaN,-8.700000e+04,0.0,-2.517000e+06,-183000.0,-2.855000e+06,5318000
23406,ZYXI,171401,USD,2018,FY,2018-12-31,2019-02-26,2019-02-26,35753300.0,37447300.0,...,9408000,NaN,NaN,NaN,-1.082000e+06,NaN,-5.070000e+05,-3256000.0,-3.763000e+06,4563000
23407,ZYXI,171401,USD,2019,FY,2019-12-31,2020-02-27,2021-02-25,35682900.0,37359300.0,...,6303000,-160000.0,NaN,NaN,-1.600000e+05,-2262000.0,-1.900000e+04,50000.0,-2.231000e+06,3912000
23408,ZYXI,171401,USD,2020,FY,2020-12-31,2021-02-25,2021-02-25,37255900.0,38437300.0,...,818000,-985000.0,NaN,NaN,-9.850000e+05,NaN,-5.700000e+04,25769000.0,2.530000e+07,25133000

In [15]:
x=getXDataMerged()
x.to_csv("Annual_Stock_Price_Fundamentals.csv")

Income Statement CSV is:  (23409, 28)
Balance Sheet CSV is:  (23409, 30)
Cash Flow CSV is:  (23409, 28)
merged X data matrix shape is: (23409, 74)

In [16]:
x.keys()

Index(['Ticker', 'SimFinId', 'Currency', 'Fiscal Year', 'Fiscal Period_x',
       'Report Date', 'Publish Date', 'Restated Date_x', 'Shares (Basic)_x',
       'Shares (Diluted)_x', 'Revenue', 'Cost of Revenue', 'Gross Profit',
       'Operating Expenses', 'Selling, General & Administrative',
       'Research & Development', 'Depreciation & Amortization_x',
       'Operating Income (Loss)', 'Non-Operating Income (Loss)',
       'Interest Expense, Net', 'Pretax Income (Loss), Adj.',
       'Abnormal Gains (Losses)', 'Pretax Income (Loss)',
       'Income Tax (Expense) Benefit, Net',
       'Income (Loss) from Continuing Operations',
       'Net Extraordinary Gains (Losses)', 'Net Income', 'Net Income (Common)',
       'Fiscal Period_y', 'Restated Date_y', 'Shares (Basic)_y',
       'Shares (Diluted)_y', 'Cash, Cash Equivalents & Short Term Investments',
       'Accounts & Notes Receivable', 'Inventories', 'Total Current Assets',
       'Property, Plant & Equipment, Net',
       'Long Term Investments & Receivables', 'Other Long Term Assets',
       'Total Noncurrent Assets', 'Total Assets', 'Payables & Accruals',
       'Short Term Debt', 'Total Current Liabilities', 'Long Term Debt',
       'Total Noncurrent Liabilities', 'Total Liabilities',
       'Share Capital & Additional Paid-In Capital', 'Treasury Stock',
       'Retained Earnings', 'Total Equity', 'Total Liabilities & Equity',
       'Fiscal Period', 'Restated Date', 'Shares (Basic)', 'Shares (Diluted)',
       'Net Income/Starting Line', 'Depreciation & Amortization_y',
       'Non-Cash Items', 'Change in Working Capital',
       'Change in Accounts Receivable', 'Change in Inventories',
       'Change in Accounts Payable', 'Change in Other',
       'Net Cash from Operating Activities',
       'Change in Fixed Assets & Intangibles',
       'Net Change in Long Term Investment',
       'Net Cash from Acquisitions & Divestitures',
       'Net Cash from Investing Activities', 'Dividends Paid',
       'Cash from (Repayment of) Debt', 'Cash from (Repurchase of) Equity',
       'Net Cash from Financing Activities', 'Net Change in Cash'],
      dtype='object')

In [17]:
x.to_csv("x.csv")

In [18]:
'''
     Leer datos de precios de acciones de SimFin (https://simfin.com/) sin API.
     Colocar en un directorio y proporcionar la ruta del directorio a la funci칩n.
     Supone nombres de archivo est치ndar de SimFin.
     Devuelve un marco de datos.
     Imprime la informaci칩n del archivo.
     '''
def getYRawData():
    d=pd.read_csv('C:/Users/Usuario/MachineLearning/Stock_Data/SimFin/us-shareprices-daily/us-shareprices-daily.csv', delimiter=';')
    d["Date"]=pd.to_datetime(d["Date"])
    print('Stock Price data matrix is: ',d.shape)
    return d

In [19]:
d = getYRawData()

Stock Price data matrix is:  (8125701, 11)

In [20]:
d.keys()

Index(['Ticker', 'SimFinId', 'Date', 'Open', 'Low', 'High', 'Close',
       'Adj. Close', 'Dividend', 'Volume', 'Shares Outstanding'],
      dtype='object')

In [21]:
d[d['Ticker']=='GOOG']

,Ticker,SimFinId,Date,Open,Low,High,Close,Adj. Close,Dividend,Volume,Shares Outstanding
0,GOOG,18,2014-03-27,568.00,552.92,568.00,558.46,558.46,NaN,13100,336050831.0
1,GOOG,18,2014-03-28,561.20,558.67,566.43,559.99,559.99,NaN,41100,336050831.0
2,GOOG,18,2014-03-31,566.89,556.93,567.00,556.97,556.97,NaN,10800,674462000.0
3,GOOG,18,2014-04-01,558.71,558.71,568.45,567.16,567.16,NaN,7900,674462000.0
4,GOOG,18,2014-04-02,565.11,562.19,604.83,567.00,567.00,NaN,146700,674462000.0
...,...,...,...,...,...,...,...,...,...,...,...
1963,GOOG,18,2022-01-11,2763.61,2736.27,2806.59,2800.35,2800.35,NaN,1148153,663763994.0
1964,GOOG,18,2022-01-12,2831.09,2822.24,2856.28,2832.96,2832.96,NaN,1175413,663763994.0
1965,GOOG,18,2022-01-13,2836.81,2778.28,2863.71,2782.62,2782.62,NaN,1317709,663763994.0
1966,GOOG,18,2022-01-14,2750.00,2750.00,2824.01,2795.73,2795.73,NaN,1185691,663763994.0
1967,GOOG,18,2022-01-18,2732.00,2712.34,2747.83,2725.81,2725.81,NaN,1347275,663763994.0

In [22]:
'''
     Devuelve solo el precio y el volumen.
     Toma el precio y volumen del primer d칤a de la lista de d칤as,
     que caen en la rango de d칤as aceptados.
     'modifier' solo modifica el rango de fechas en el que busca.
     Devuelve una lista.
     '''
def getYPriceDataNearDate(ticker, date, modifier, d):
    windowDays=5
    rows = \
    d[(d["Date"].between(pd.to_datetime(date) + pd.Timedelta(days=modifier),\
       pd.to_datetime(date) + pd.Timedelta(days=windowDays+modifier))) \
      & (d["Ticker"]==ticker)]
    if rows.empty:
        return [ticker, np.float("NaN"),\
                np.datetime64('NaT'),\
                np.float("NaN")]
    else:
        return [ticker, rows.iloc[0]["Open"],\
                rows.iloc[0]["Date"],\
                rows.iloc[0]["Volume"]*rows.iloc[0]["Open"]]
        #take the first item of the list of days that fall in the window of accepted days.

In [25]:
getYPriceDataNearDate('AAPL', '2012-05-12', 0, d)

['AAPL', 20.09, Timestamp('2012-05-14 00:00:00'), 7084264376.0]

In [26]:
getYPriceDataNearDate('AAPL', '2012-05-12', 30, d)

['AAPL', 20.99, Timestamp('2012-06-11 00:00:00'), 12410648152.0]

In [27]:
'''
     Toma todos los datos fundamentales de x, todos los precios de las acciones a lo largo del tiempo de y,
     con el modificador (d칤as), y devuelve la informaci칩n del precio de las acciones para la
     fecha del informe de datos, as칤 como el precio de las acciones un a침o despu칠s de esa fecha
     (si el modificador se deja como modificador = 365)
     '''
# modifier is effectively the hold period for a stock.
# x is the vector of company data
# d is the Y raw data (stock price and date for all days)
def getYPricesReportDateAndTargetDate(x, d, modifier=365):
    i=0
    
    # Preallocation list of list of 2 \
    # [(price at date) (price at date + modifier)]
    y = [[None]*8 for i in range(len(x))] 
    
    whichDateCol='Publish Date'# or 'Report Date', \
    # is the performance date from->to. Want this to be publish date.
    
    # Because of time lag between report date\
    # (which can't be actioned on) and publish date\
    # (data we can trade with)
    for index in range(len(x)):
        y[i]=(getYPriceDataNearDate(\
            x['Ticker'].iloc[index], x[whichDateCol].iloc[index], 0, d) + \
              getYPriceDataNearDate(\
            x['Ticker'].iloc[index], x[whichDateCol].iloc[index], modifier, d))
        i=i+1
    return y

In [34]:
# We want to know the performance for each stock, each year, between 10-K report dates.
# takes VERY long time, several hours.
y = getYPricesReportDateAndTargetDate(x, d, 365) # because of lookups in this function.

In [36]:
y

[['A',
  16.78,
  Timestamp('2008-12-19 00:00:00'),
  248323864.00000003,
  'A',
  29.6,
  Timestamp('2009-12-21 00:00:00'),
  93198560.0],
 ['A',
  29.6,
  Timestamp('2009-12-21 00:00:00'),
  93198560.0,
  'A',
  40.65,
  Timestamp('2010-12-21 00:00:00'),
  146961945.0],
 ['A',
  40.1,
  Timestamp('2010-12-20 00:00:00'),
  161350370.0,
  'A',
  33.99,
  Timestamp('2011-12-20 00:00:00'),
  124797684.0],
 ['A',
  33.73,
  Timestamp('2011-12-16 00:00:00'),
  105332043.99999999,
  'A',
  39.98,
  Timestamp('2012-12-17 00:00:00'),
  138114908.0],
 ['A',
  40.58,
  Timestamp('2012-12-20 00:00:00'),
  154557046.0,
  'A',
  57.47,
  Timestamp('2013-12-20 00:00:00'),
  169766380.0],
 ['A',
  57.57,
  Timestamp('2013-12-19 00:00:00'),
  108991524.0,
  'A',
  40.9,
  Timestamp('2014-12-19 00:00:00'),
  152816142.4],
 ['A',
  41.38,
  Timestamp('2014-12-22 00:00:00'),
  65803344.980000004,
  'A',
  41.01,
  Timestamp('2015-12-22 00:00:00'),
  67386483.72],
 ['A',
  40.51,
  Timestamp('2015-12-21 00:00:00'),
  70291291.09,
  'A',
  45.75,
  Timestamp('2016-12-20 00:00:00'),
  71020744.5],
 ['A',
  45.75,
  Timestamp('2016-12-20 00:00:00'),
  71020744.5,
  'A',
  67.81,
  Timestamp('2017-12-20 00:00:00'),
  92424826.57000001],
 ['A',
  67.51,
  Timestamp('2017-12-21 00:00:00'),
  100936631.36000001,
  'A',
  65.22,
  Timestamp('2018-12-21 00:00:00'),
  305431782.0],
 ['A',
  66.33,
  Timestamp('2018-12-20 00:00:00'),
  235326502.62,
  'A',
  84.94,
  Timestamp('2019-12-20 00:00:00'),
  194325137.42],
 ['A',
  83.95,
  Timestamp('2019-12-19 00:00:00'),
  142379703.70000002,
  'A',
  119.23,
  Timestamp('2020-12-18 00:00:00'),
  466401648.63],
 ['A',
  119.23,
  Timestamp('2020-12-18 00:00:00'),
  466401648.63,
  'A',
  150.76,
  Timestamp('2021-12-20 00:00:00'),
  305621727.32],
 ['A',
  150.35,
  Timestamp('2021-12-17 00:00:00'),
  395223541.5,
  'A',
  nan,
  numpy.datetime64('NaT'),
  nan],
 ['AA',
  nan,
  numpy.datetime64('NaT'),
  nan,
  'AA',
  37.64,
  Timestamp('2017-03-02 00:00:00'),
  191912245.0],
 ['AA',
  37.87,
  Timestamp('2017-02-03 00:00:00'),
  198560173.35,
  'AA',
  48.61,
  Timestamp('2018-02-05 00:00:00'),
  187720153.6],
 ['AA',
  47.42,
  Timestamp('2018-02-26 00:00:00'),
  168519062.1,
  'AA',
  30.7,
  Timestamp('2019-02-26 00:00:00'),
  114315502.39999999],
 ['AA',
  30.7,
  Timestamp('2019-02-26 00:00:00'),
  114315502.39999999,
  'AA',
  14.64,
  Timestamp('2020-02-26 00:00:00'),
  70216470.48],
 ['AA',
  16.01,
  Timestamp('2020-02-21 00:00:00'),
  88506770.18,
  'AA',
  23.46,
  Timestamp('2021-02-22 00:00:00'),
  219047756.04000002],
 ['AA',
  27.48,
  Timestamp('2021-02-25 00:00:00'),
  231349201.08,
  'AA',
  nan,
  numpy.datetime64('NaT'),
  nan],
 ['AAC_delist',
  nan,
  numpy.datetime64('NaT'),
  nan,
  'AAC_delist',
  nan,
  numpy.datetime64('NaT'),
  nan],
 ['AAL',
  5.65,
  Timestamp('2010-01-20 00:00:00'),
  201296019.10000002,
  'AAL',
  9.98,
  Timestamp('2011-01-20 00:00:00'),
  194291608.06],
 ['AAL',
  10.15,
  Timestamp('2011-02-16 00:00:00'),
  131560869.30000001,
  'AAL',
  8.85,
  Timestamp('2012-02-16 00:00:00'),
  158199086.54999998],
 ['AAL',
  9.05,
  Timestamp('2012-02-15 00:00:00'),
  126292388.00000001,
  'AAL',
  14.94,
  Timestamp('2013-02-14 00:00:00'),
  1276905380.94],
 ['AAL',
  15.96,
  Timestamp('2013-04-16 00:00:00'),
  447487597.20000005,
  'AAL',
  34.17,
  Timestamp('2014-04-16 00:00:00'),
  534220614.0],
 ['AAL',
  36.11,
  Timestamp('2014-02-28 00:00:00'),
  288511678.0,
  'AAL',
  48.2,
  Timestamp('2015-03-02 00:00:00'),
  553475828.2],
 ['AAL',
  51.3,
  Timestamp('2015-02-25 00:00:00'),
  491301382.5,
  'AAL',
  40.76,
  Timestamp('2016-02-25 00:00:00'),
  282729172.12],
 ['AAL',
  40.02,
  Timestamp('2016-02-24 00:00:00'),
  244269793.86,
  'AAL',
  46.42,
  Timestamp('2017-02-23 00:00:00'),
  243565043.70000002],
 ['AAL',
  46.5,
  Timestamp('2017-02-22 00:00:00'),
  269683539.0,
  'AAL',
  53.24,
  Timestamp('2018-02-22 00:00:00'),
  231794182.4],
 ['AAL',
  51.96,
  Timestamp('2018-02-21 00:00:00'),
  278943674.76,
  'AAL',
  34.98,
  Timestamp('2019-02-21 00:00:00'),
  206408025.11999997],
 ['AAL',
  35.75,
  Timestamp('2019-02-25 00:00:00'),
  389886854.5,
  'AAL',
  25.62,
  Timestamp('2020-02-25 00:00:00'),
  571246039.98],
 ['AAL',
  28.84,
  Timestamp('2020-02-19 00:00:00'),
  242285561.0,
  'AAL',
  17.83,
  Timestamp('2021-02-18 00:00:00'),
  469431342.41999996],
 ['AAL',
  17.69,
  Timestamp('2021-02-17 00:00:00'),
  626021892.7800001,
  'AAL',
  nan,
  numpy.datetime64('NaT'),
  nan],
 ['AAMC',
  930.65,
  Timestamp('2014-02-20 00:00:00'),
  89714660.0,
  'AAMC',
  202.58,
  Timestamp('2015-02-20 00:00:00'),
  431900.56],
 ['AAMC',
  184.55,
  Timestamp('2015-03-02 00:00:00'),
  2518184.75,
  'AAMC',
  17.03,
  Timestamp('2016-03-01 00:00:00'),
  131965.47],
 ['AAMC',
  17.37,
  Timestamp('2016-02-29 00:00:00'),
  28660.5,
  'AAMC',
  69.6,
  Timestamp('2017-02-28 00:00:00'),
  676999.2],
 ['AAMC',
  71.3,
  Timestamp('2017-03-01 00:00:00'),
  237571.59999999998,
  'AAMC',
  68.55,
  Timestamp('2018-03-01 00:00:00'),
  97683.75],
 ['AAMC',
  68.55,
  Timestamp('2018-03-01 00:00:00'),
  97683.75,
  'AAMC',
  37.17,
  Timestamp('2019-03-01 00:00:00'),
  2420138.7],
 ['AAMC',
  27.0,
  Timestamp('2019-04-30 00:00:00'),
  17172.0,
  'AAMC',
  14.15,
  Timestamp('2020-04-29 00:00:00'),
  851943.2000000001],
 ['AAMC',
  14.15,
  Timestamp('2020-04-29 00:00:00'),
  851943.2000000001,
  'AAMC',
  17.55,
  Timestamp('2021-04-29 00:00:00'),
  279747.0],
 ['AAMC',
  24.67,
  Timestamp('2021-03-03 00:00:00'),
  1978040.6,
  'AAMC',
  nan,
  numpy.datetime64('NaT'),
  nan],
 ['AAN',
  nan,
  numpy.datetime64('NaT'),
  nan,
  'AAN',
  nan,
  numpy.datetime64('NaT'),
  nan],
 ['AAN',
  nan,
  numpy.datetime64('NaT'),
  nan,
  'AAN',
  nan,
  numpy.datetime64('NaT'),
  nan],
 ['AAN',
  nan,
  numpy.datetime64('NaT'),
  nan,
  'AAN',
  nan,
  numpy.datetime64('NaT'),
  nan],
 ['AAN',
  nan,
  numpy.datetime64('NaT'),
  nan,
  'AAN',
  nan,
  numpy.datetime64('NaT'),
  nan],
 ['AAN',
  nan,
  numpy.datetime64('NaT'),
  nan,
  'AAN',
  nan,
  numpy.datetime64('NaT'),
  nan],
 ['AAN',
  nan,
  numpy.datetime64('NaT'),
  nan,
  'AAN',
  nan,
  numpy.datetime64('NaT'),
  nan],
 ['AAN',
  nan,
  numpy.datetime64('NaT'),
  nan,
  'AAN',
  nan,
  numpy.datetime64('NaT'),
  nan],
 ['AAN',
  nan,
  numpy.datetime64('NaT'),
  nan,
  'AAN',
  nan,
  numpy.datetime64('NaT'),
  nan],
 ['AAN',
  nan,
  numpy.datetime64('NaT'),
  nan,
  'AAN',
  nan,
  numpy.datetime64('NaT'),
  nan],
 ['AAN',
  nan,
  numpy.datetime64('NaT'),
  nan,
  'AAN',
  nan,
  numpy.datetime64('NaT'),
  nan],
 ['AAN',
  nan,
  numpy.datetime64('NaT'),
  nan,
  'AAN',
  30.25,
  Timestamp('2021-04-27 00:00:00'),
  28285020.5],
 ['AAN',
  20.89,
  Timestamp('2021-01-26 00:00:00'),
  6375251.98,
  'AAN',
  nan,
  numpy.datetime64('NaT'),
  nan],
 ['AAOI',
  nan,
  numpy.datetime64('NaT'),
  nan,
  'AAOI',
  12.5,
  Timestamp('2014-02-14 00:00:00'),
  981250.0],
 ['AAOI',
  12.87,
  Timestamp('2014-02-12 00:00:00'),
  503216.99999999994,
  'AAOI',
  10.27,
  Timestamp('2015-02-12 00:00:00'),
  3189543.63],
 ['AAOI',
  13.85,
  Timestamp('2015-03-23 00:00:00'),
  3215346.75,
  'AAOI',
  17.28,
  Timestamp('2016-03-22 00:00:00'),
  9340721.280000001],
 ['AAOI',
  17.57,
  Timestamp('2016-03-14 00:00:00'),
  2864946.63,
  'AAOI',
  50.57,
  Timestamp('2017-03-14 00:00:00'),
  57618092.61],
 ['AAOI',
  52.44,
  Timestamp('2017-03-09 00:00:00'),
  53479937.64,
  'AAOI',
  28.05,
  Timestamp('2018-03-09 00:00:00'),
  36660312.15],
 ['AAOI',
  27.57,
  Timestamp('2018-02-28 00:00:00'),
  31374852.990000002,
  'AAOI',
  14.89,
  Timestamp('2019-02-28 00:00:00'),
  75849451.54],
 ['AAOI',
  16.82,
  Timestamp('2019-02-26 00:00:00'),
  16960732.94,
  'AAOI',
  10.27,
  Timestamp('2020-02-26 00:00:00'),
  7326217.47],
 ['AAOI',
  8.95,
  Timestamp('2020-02-28 00:00:00'),
  13276814.85,
  'AAOI',
  9.52,
  Timestamp('2021-03-01 00:00:00'),
  12152832.16],
 ['AAOI',
  11.61,
  Timestamp('2021-02-25 00:00:00'),
  7560815.13,
  'AAOI',
  nan,
  numpy.datetime64('NaT'),
  nan],
 ['AAON',
  9.05,
  Timestamp('2011-03-10 00:00:00'),
  2040784.05,
  'AAON',
  8.05,
  Timestamp('2012-03-09 00:00:00'),
  652050.0],
 ['AAON',
  8.49,
  Timestamp('2012-03-14 00:00:00'),
  1338873.0,
  'AAON',
  11.33,
  Timestamp('2013-03-14 00:00:00'),
  6267767.33],
 ['AAON',
  11.33,
  Timestamp('2013-03-14 00:00:00'),
  6267767.33,
  'AAON',
  18.12,
  Timestamp('2014-03-14 00:00:00'),
  5414256.0],
 ['AAON',
  19.57,
  Timestamp('2014-03-13 00:00:00'),
  4297572.0,
  'AAON',
  22.43,
  Timestamp('2015-03-13 00:00:00'),
  2354140.65],
 ['AAON',
  23.75,
  Timestamp('2015-02-27 00:00:00'),
  7707017.5,
  'AAON',
  24.97,
  Timestamp('2016-02-29 00:00:00'),
  9384550.01],
 ['AAON',
  22.82,
  Timestamp('2016-02-25 00:00:00'),
  7833398.58,
  'AAON',
  34.8,
  Timestamp('2017-02-24 00:00:00'),
  10235132.399999999],
 ['AAON',
  32.5,
  Timestamp('2017-02-23 00:00:00'),
  17119992.5,
  'AAON',
  35.1,
  Timestamp('2018-02-23 00:00:00'),
  3360930.3000000003],
 ['AAON',
  35.65,
  Timestamp('2018-02-27 00:00:00'),
  25698730.3,
  'AAON',
  41.36,
  Timestamp('2019-02-27 00:00:00'),
  6060563.52],
 ['AAON',
  41.0,
  Timestamp('2019-02-28 00:00:00'),
  7526165.0,
  'AAON',
  56.24,
  Timestamp('2020-02-28 00:00:00'),
  30913946.96],
 ['AAON',
  52.42,
  Timestamp('2020-02-27 00:00:00'),
  24393122.8,
  'AAON',
  77.41,
  Timestamp('2021-02-26 00:00:00'),
  14806597.75],
 ['AAON',
  77.22,
  Timestamp('2021-02-25 00:00:00'),
  14436819.54,
  'AAON',
  nan,
  numpy.datetime64('NaT'),
  nan],
 ['AAP',
  41.42,
  Timestamp('2010-03-02 00:00:00'),
  50573820.0,
  'AAP',
  62.57,
  Timestamp('2011-03-02 00:00:00'),
  60793012.0],
 ['AAP',
  62.99,
  Timestamp('2011-03-01 00:00:00'),
  75657289.0,
  'AAP',
  86.03,
  Timestamp('2012-02-29 00:00:00'),
  61735128.0],
 ['AAP',
  84.56,
  Timestamp('2012-02-28 00:00:00'),
  68857208.0,
  'AAP',
  77.29,
  Timestamp('2013-02-27 00:00:00'),
  55710632.00000001],
 ['AAP',
  79.46,
  Timestamp('2013-02-25 00:00:00'),
  46078854.0,
  'AAP',
  126.64,
  Timestamp('2014-02-25 00:00:00'),
  104224720.0],
 ['AAP',
  126.64,
  Timestamp('2014-02-25 00:00:00'),
  104224720.0,
  'AAP',
  156.5,
  Timestamp('2015-02-25 00:00:00'),
  62216262.0],
 ['AAP',
  155.39,
  Timestamp('2015-03-03 00:00:00'),
  111579498.78999999,
  'AAP',
  152.44,
  Timestamp('2016-03-02 00:00:00'),
  100512076.2],
 ['AAP',
  149.92,
  Timestamp('2016-03-01 00:00:00'),
  93264332.47999999,
  'AAP',
  158.59,
  Timestamp('2017-03-01 00:00:00'),
  164582640.33],
 ['AAP',
  155.64,
  Timestamp('2017-02-28 00:00:00'),
  169224103.55999997,
  'AAP',
  110.71,
  Timestamp('2018-02-28 00:00:00'),
  210392398.32],
 ['AAP',
  116.96,
  Timestamp('2018-02-21 00:00:00'),
  647057691.04,
  'AAP',
  166.21,
  Timestamp('2019-02-21 00:00:00'),
  268648547.2],
 ['AAP',
  169.93,
  Timestamp('2019-02-19 00:00:00'),
  572522378.38,
  'AAP',
  141.51,
  Timestamp('2020-02-19 00:00:00'),
  143711612.57999998],
 ['AAP',
  145.39,
  Timestamp('2020-02-18 00:00:00'),
  418975015.47999996,
  'AAP',
  154.82,
  Timestamp('2021-02-17 00:00:00'),
  246004954.67999998],
 ['AAP',
  165.13,
  Timestamp('2021-02-22 00:00:00'),
  157224896.64,
  'AAP',
  nan,
  numpy.datetime64('NaT'),
  nan],
 ['AAPL',
  nan,
  numpy.datetime64('NaT'),
  nan,
  'AAPL',
  nan,
  numpy.datetime64('NaT'),
  nan],
 ['AAPL',
  nan,
  numpy.datetime64('NaT'),
  nan,
  'AAPL',
  nan,
  numpy.datetime64('NaT'),
  nan],
 ['AAPL',
  nan,
  numpy.datetime64('NaT'),
  nan,
  'AAPL',
  nan,
  numpy.datetime64('NaT'),
  nan],
 ['AAPL',
  nan,
  numpy.datetime64('NaT'),
  nan,
  'AAPL',
  nan,
  numpy.datetime64('NaT'),
  nan],
 ['AAPL',
  nan,
  numpy.datetime64('NaT'),
  nan,
  'AAPL',
  nan,
  numpy.datetime64('NaT'),
  nan],
 ['AAPL',
  nan,
  numpy.datetime64('NaT'),
  nan,
  'AAPL',
  nan,
  numpy.datetime64('NaT'),
  nan],
 ['AAPL',
  3.08,
  Timestamp('2007-01-03 00:00:00'),
  3814024368.0,
  'AAPL',
  7.12,
  Timestamp('2007-12-31 00:00:00'),
  3840052384.0],
 ['AAPL',
  5.94,
  Timestamp('2007-11-15 00:00:00'),
  8835217776.0,
  'AAPL',
  3.35,
  Timestamp('2008-11-14 00:00:00'),
  4707643780.0],
 ['AAPL',
  3.89,
  Timestamp('2008-11-05 00:00:00'),
  4887610728.0,
  'AAPL',
  6.87,
  Timestamp('2009-11-05 00:00:00'),
  2643584244.0],
 ['AAPL',
  7.27,
  Timestamp('2009-10-26 00:00:00'),
  3521140168.0,
  'AAPL',
  11.04,
  Timestamp('2010-10-25 00:00:00'),
  4332780480.0],
 ['AAPL',
  10.99,
  Timestamp('2010-10-27 00:00:00'),
  4385040772.0,
  'AAPL',
  14.56,
  Timestamp('2011-10-27 00:00:00'),
  7202319488.0],
 ['AAPL',
  14.35,
  Timestamp('2011-10-26 00:00:00'),
  6547973880.0,
  'AAPL',
  22.14,
  Timestamp('2012-10-25 00:00:00'),
  14531048784.0],
 ['AAPL',
  21.25,
  Timestamp('2012-10-31 00:00:00'),
  10837568000.0,
  'AAPL',
  18.75,
  Timestamp('2013-10-31 00:00:00'),
  5169307500.0],
 ['AAPL',
  18.56,
  Timestamp('2013-10-30 00:00:00'),
  6573276416.0,
  'AAPL',
  26.74,
  Timestamp('2014-10-30 00:00:00'),
  4348436659.28],
 ['AAPL',
  26.21,
  Timestamp('2014-10-27 00:00:00'),
  3584238572.84,
  'AAPL',
  28.85,
  Timestamp('2015-10-27 00:00:00'),
  8064659760.0],
 ['AAPL',
  29.23,
  Timestamp('2015-10-28 00:00:00'),
  10002664075.84,
  'AAPL',
  28.85,
  Timestamp('2016-10-27 00:00:00'),
  3988459993.0],
 ['AAPL',
  28.58,
  Timestamp('2016-10-26 00:00:00'),
  7560463916.08,
  'AAPL',
  39.31,
  Timestamp('2017-10-26 00:00:00'),
  2634035892.84],
 ['AAPL',
  43.5,
  Timestamp('2017-11-03 00:00:00'),
  10210985724.0,
  'AAPL',
  51.08,
  Timestamp('2018-11-05 00:00:00'),
  13518560850.08],
 ['AAPL',
  51.08,
  Timestamp('2018-11-05 00:00:00'),
  13518560850.08,
  'AAPL',
  64.26,
  Timestamp('2019-11-05 00:00:00'),
  5134226716.080001],
 ['AAPL',
  61.81,
  Timestamp('2019-10-31 00:00:00'),
  8601608164.800001,
  'AAPL',
  111.06,
  Timestamp('2020-10-30 00:00:00'),
  21165090244.56],
 ['AAPL',
  111.06,
  Timestamp('2020-10-30 00:00:00'),
  21165090244.56,
  'AAPL',
  148.99,
  Timestamp('2021-11-01 00:00:00'),
  10935352133.49],
 ['AAPL',
  147.22,
  Timestamp('2021-10-29 00:00:00'),
  18395605392.96,
  'AAPL',
  nan,
  numpy.datetime64('NaT'),
  nan],
 ['AAWW',
  60.48,
  Timestamp('2011-02-14 00:00:00'),
  92039310.72,
  'AAWW',
  50.57,
  Timestamp('2012-02-14 00:00:00'),
  20202715.0],
 ['AAWW',
  45.08,
  Timestamp('2012-02-15 00:00:00'),
  113020068.0,
  'AAWW',
  46.66,
  Timestamp('2013-02-14 00:00:00'),
  17679474.0],
 ['AAWW',
  47.0,
  Timestamp('2013-02-13 00:00:00'),
  30676900.0,
  'AAWW',
  31.43,
  Timestamp('2014-02-13 00:00:00'),
  22598170.0],
 ['AAWW',
  34.36,
  Timestamp('2014-04-30 00:00:00'),
  5762172.0,
  'AAWW',
  47.57,
  Timestamp('2015-04-30 00:00:00'),
  86323804.33],
 ['AAWW',
  47.47,
  Timestamp('2015-02-12 00:00:00'),
  46209956.32,
  'AAWW',
  35.82,
  Timestamp('2016-02-12 00:00:00'),
  16591609.08],
 ['AAWW',
  39.6,
  Timestamp('2016-02-18 00:00:00'),
  20689930.8,
  'AAWW',
  53.95,
  Timestamp('2017-02-17 00:00:00'),
  7312113.25],
 ['AAWW',
  51.85,
  Timestamp('2017-02-23 00:00:00'),
  15471936.3,
  'AAWW',
  64.4,
  Timestamp('2018-02-23 00:00:00'),
  26564162.8],
 ['AAWW',
  58.0,
  Timestamp('2018-02-22 00:00:00'),
  55609646.0,
  'AAWW',
  59.61,
  Timestamp('2019-02-22 00:00:00'),
  14115588.39],
 ['AAWW',
  57.32,
  Timestamp('2019-02-19 00:00:00'),
  52451468.48,
  'AAWW',
  27.66,
  Timestamp('2020-02-19 00:00:00'),
  26140387.26],
 ['AAWW',
  32.25,
  Timestamp('2020-04-28 00:00:00'),
  22340284.5,
  'AAWW',
  68.73,
  Timestamp('2021-04-28 00:00:00'),
  26427784.68],
 ['AAWW',
  58.06,
  Timestamp('2021-02-18 00:00:00'),
  47174098.36,
  'AAWW',
  nan,
  numpy.datetime64('NaT'),
  nan],
 ['ABAX',
  27.98,
  Timestamp('2011-06-13 00:00:00'),
  3038628.0,
  'ABAX',
  32.9,
  Timestamp('2012-06-12 00:00:00'),
  3211040.0],
 ['ABAX',
  33.78,
  Timestamp('2012-06-14 00:00:00'),
  3506364.0,
  'ABAX',
  46.26,
  Timestamp('2013-06-14 00:00:00'),
  4663008.0],
 ['ABAX',
  46.26,
  Timestamp('2013-06-14 00:00:00'),
  4663008.0,
  'ABAX',
  43.28,
  Timestamp('2014-06-16 00:00:00'),
  5089728.0],
 ['ABAX',
  47.67,
  Timestamp('2014-07-29 00:00:00'),
  17919153.0,
  'ABAX',
  48.44,
  Timestamp('2015-07-29 00:00:00'),
  6109785.64],
 ['ABAX',
  48.44,
  Timestamp('2015-07-29 00:00:00'),
  6109785.64,
  'ABAX',
  48.8,
  Timestamp('2016-07-28 00:00:00'),
  8111243.199999999],
 ['ABAX',
  49.75,
  Timestamp('2016-07-29 00:00:00'),
  9583939.5,
  'ABAX',
  47.54,
  Timestamp('2017-07-31 00:00:00'),
  7675808.399999999],
 ['ABAX',
  49.25,
  Timestamp('2017-07-28 00:00:00'),
  15038783.0,
  'ABAX',
  83.1,
  Timestamp('2018-07-30 00:00:00'),
  29161618.2],
 ['ABAX',
  83.1,
  Timestamp('2018-07-30 00:00:00'),
  29161618.2,
  'ABAX',
  nan,
  numpy.datetime64('NaT'),
  nan],
 ['ABBV',
  36.13,
  Timestamp('2013-02-11 00:00:00'),
  217939773.00000003,
  'ABBV',
  48.75,
  Timestamp('2014-02-10 00:00:00'),
  385490625.0],
 ['ABBV',
  51.82,
  Timestamp('2014-02-21 00:00:00'),
  302768714.0,
  'ABBV',
  61.54,
  Timestamp('2015-02-23 00:00:00'),
  712796650.24],
 ['ABBV',
  59.61,
  Timestamp('2015-02-20 00:00:00'),
  925944543.36,
  'ABBV',
  54.67,
  Timestamp('2016-02-22 00:00:00'),
  512896882.96000004],
 ['ABBV',
  54.5,
  Timestamp('2016-02-19 00:00:00'),
  465023648.0,
  'ABBV',
  61.84,
  Timestamp('2017-02-21 00:00:00'),
  525845246.96000004],
 ['ABBV',
  61.54,
  Timestamp('2017-02-17 00:00:00'),
  499978160.68,
  'ABBV',
  117.72,
  Timestamp('2018-02-20 00:00:00'),
  1000320638.04],
 ['ABBV',
  115.23,
  Timestamp('2018-02-16 00:00:00'),
  1004457720.63,
  'ABBV',
  80.5,
  Timestamp('2019-02-19 00:00:00'),
  456814396.5],
 ['ABBV',
  80.14,
  Timestamp('2019-02-27 00:00:00'),
  334644284.44,
  'ABBV',
  86.19,
  Timestamp('2020-02-27 00:00:00'),
  1221998630.97],
 ['ABBV',
  93.96,
  Timestamp('2020-02-21 00:00:00'),
  627270476.76,
  'ABBV',
  104.66,
  Timestamp('2021-02-22 00:00:00'),
  1051653089.4599999],
 ['ABBV',
  106.23,
  Timestamp('2021-02-19 00:00:00'),
  712000732.35,
  'ABBV',
  nan,
  numpy.datetime64('NaT'),
  nan],
 ['ABC',
  15.4,
  Timestamp('2008-11-25 00:00:00'),
  72660280.0,
  'ABC',
  25.19,
  Timestamp('2009-11-25 00:00:00'),
  44739959.0],
 ['ABC',
  25.19,
  Timestamp('2009-11-25 00:00:00'),
  44739959.0,
  'ABC',
  30.69,
  Timestamp('2010-11-26 00:00:00'),
  18760797.0],
 ['ABC',
  30.85,
  Timestamp('2010-11-23 00:00:00'),
  73327365.0,
  'ABC',
  36.37,
  Timestamp('2011-11-23 00:00:00'),
  51299885.0],
 ['ABC',
  36.57,
  Timestamp('2011-11-22 00:00:00'),
  93121848.0,
  'ABC',
  40.78,
  Timestamp('2012-11-21 00:00:00'),
  67291078.0],
 ['ABC',
  41.18,
  Timestamp('2012-11-27 00:00:00'),
  96266486.0,
  'ABC',
  70.59,
  Timestamp('2013-11-27 00:00:00'),
  60890934.0],
 ['ABC',
  70.77,
  Timestamp('2013-11-26 00:00:00'),
  108171945.0,
  'ABC',
  90.22,
  Timestamp('2014-11-26 00:00:00'),
  87956650.86],
 ['ABC',
  90.04,
  Timestamp('2014-11-25 00:00:00'),
  108534666.2,
  'ABC',
  99.0,
  Timestamp('2015-11-25 00:00:00'),
  207034047.0],
 ['ABC',
  98.16,
  Timestamp('2015-11-24 00:00:00'),
  159864750.23999998,
  'ABC',
  78.07,
  Timestamp('2016-11-23 00:00:00'),
  103408008.85],
 ['ABC',
  78.77,
  Timestamp('2016-11-22 00:00:00'),
  150478427.04,
  'ABC',
  79.98,
  Timestamp('2017-11-22 00:00:00'),
  153402199.86],
 ['ABC',
  77.83,
  Timestamp('2017-11-21 00:00:00'),
  124429233.73,
  'ABC',
  88.52,
  Timestamp('2018-11-21 00:00:00'),
  110910425.83999999],
 ['ABC',
  90.05,
  Timestamp('2018-11-20 00:00:00'),
  189005584.79999998,
  'ABC',
  87.44,
  Timestamp('2019-11-20 00:00:00'),
  103119391.03999999],
 ['ABC',
  87.57,
  Timestamp('2019-11-19 00:00:00'),
  57073222.08,
  'ABC',
  105.63,
  Timestamp('2020-11-18 00:00:00'),
  94898625.78],
 ['ABC',
  102.65,
  Timestamp('2020-11-19 00:00:00'),
  152039842.20000002,
  'ABC',
  125.49,
  Timestamp('2021-11-19 00:00:00'),

In [39]:
y= pd.DataFrame(y, columns=['Ticker', 'Open Price', 'Date', 'Volume', 'Ticker2', 'Open Price2', 'Date2', 'Volume2'])
y.to_csv("Annual_Stock_Price_Performance.csv")

In [40]:
y

,Ticker,Open Price,Date,Volume,Ticker2,Open Price2,Date2,Volume2
0,A,16.78,2008-12-19,2.483239e+08,A,29.60,2009-12-21,9.319856e+07
1,A,29.60,2009-12-21,9.319856e+07,A,40.65,2010-12-21,1.469619e+08
2,A,40.10,2010-12-20,1.613504e+08,A,33.99,2011-12-20,1.247977e+08
3,A,33.73,2011-12-16,1.053320e+08,A,39.98,2012-12-17,1.381149e+08
4,A,40.58,2012-12-20,1.545570e+08,A,57.47,2013-12-20,1.697664e+08
...,...,...,...,...,...,...,...,...
23404,ZYXI,0.31,2017-04-18,3.528730e+03,ZYXI,3.15,2018-04-18,1.889842e+05
23405,ZYXI,4.55,2018-02-28,5.852392e+05,ZYXI,4.51,2019-02-28,2.961627e+05
23406,ZYXI,5.09,2019-02-26,2.683601e+05,ZYXI,11.90,2020-02-26,3.442361e+06
23407,ZYXI,11.25,2020-02-27,4.283404e+06,ZYXI,14.55,2021-02-26,3.741924e+07
23408,ZYXI,16.78,2021-02-25,7.177796e+06,ZYXI,NaN,NaT,NaN

In [41]:
d

,Ticker,SimFinId,Date,Open,Low,High,Close,Adj. Close,Dividend,Volume,Shares Outstanding
0,GOOG,18,2014-03-27,568.00,552.92,568.00,558.46,558.46,NaN,13100,336050831.0
1,GOOG,18,2014-03-28,561.20,558.67,566.43,559.99,559.99,NaN,41100,336050831.0
2,GOOG,18,2014-03-31,566.89,556.93,567.00,556.97,556.97,NaN,10800,674462000.0
3,GOOG,18,2014-04-01,558.71,558.71,568.45,567.16,567.16,NaN,7900,674462000.0
4,GOOG,18,2014-04-02,565.11,562.19,604.83,567.00,567.00,NaN,146700,674462000.0
...,...,...,...,...,...,...,...,...,...,...,...
8125696,RCKY,1300071,2022-01-11,44.12,42.70,44.79,43.49,43.49,NaN,81067,7300199.0
8125697,RCKY,1300071,2022-01-12,43.68,42.92,44.26,43.91,43.91,NaN,44152,7300199.0
8125698,RCKY,1300071,2022-01-13,44.00,43.50,44.67,44.00,44.00,NaN,39332,7300199.0
8125699,RCKY,1300071,2022-01-14,43.65,42.28,43.81,43.17,43.17,NaN,80020,7300199.0
8125700,RCKY,1300071,2022-01-18,42.58,41.25,42.87,41.92,41.92,NaN,48234,7300199.0